build-common-ivy.xml
build-common-osgi-plugin.xml
build-common-plugins.xml
build-common-plugin.xml
build-common.xml
build.properties
build.rafael.properties
build.xml
common.bnd
copyright.txt
dist/
ext/
.ivy/
ivy-settings-publisher.xml
ivy-settings.xml
ivy.xml
ivy.xml.MD5
lib/
misc/
.project
shared/
tools/
webs/

build-common-hook.xml
build-common-client.xml
build-common-portlet.xml
build-common-ext.xml
build-common-theme.xml
build-common-layouttpl.xml
build.xml
create.bat
create.sh
readme.txt
merge.bat
