build-common-ivy.xml
build-common-osgi-plugin.xml
build-common-plugins.xml
build-common-plugin.xml
build-common.xml
build-common-plugins-inspector.xml
build.properties
build.rafael.properties
common.bnd
copyright.txt
dist/
ext/
.ivy/
ivy-settings-publisher.xml
ivy-settings.xml
ivy.xml
ivy.xml.MD5
lib/
misc/
.project
shared/
tools/
webs/

hooks/
layouttpl/

Comments
CONTRIBUTING.markdown
README.markdown
apps/
ci.properties
dependencies/
gradle.properties
modules/
source-formatter.properties
portlets/
